.controlPanel {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
        "i g"
        "p p";
  grid-template-columns: 160px;
}

.cardsNumberInput {
  grid-area: i;
  margin: 10px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #eee;
  text-align: center;
  font-size: 20px;

  &:focus {
    border-color: black;
  }
}

.generateButton {
  grid-area: g;
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  border: 2px solid #eee;
  background-color: green;
  color: white;
  font-size: 20px;

  &:hover {
    background-color: #000;
    color: white;
  }
}

.pullButton {
  grid-area: p;
  margin: 10px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #eee;
  background-color: green;
  color: white;
  font-size: 20px;

  &:hover {
    background-color: #000;
    color: white;
  }
}