.card {
  border: #157E7E solid 2px;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 20px;
}

.pulledCard {
  border: #D22323 solid 2px;
}